// Переменные
$main-color: #3498db;
$card-bg: #ffffff;
$text-color: #333;
$border-radius: 12px;



// Миксин для кнопки
@use "sass:color";
@mixin button-style($bg-color) {
    padding: 10px 18px;
    background: $bg-color;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;

    &:hover {
        background: color.adjust($bg-color, $lightness: -10%);
    }
}


// Общие стили
body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


// Карточка товара
.product-card {
    width: 300px;
    background: $card-bg;
    border-radius: $border-radius;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;

    // Вложенность
    &__image {
        width: 100%;
        border-radius: $border-radius;
        margin-bottom: 15px;
    }

    &__title {
        font-size: 22px;
        color: $main-color;
        margin-bottom: 10px;
    }

    &__description {
        font-size: 14px;
        color: $text-color;
        margin-bottom: 15px;
        line-height: 1.5;
    }

    &__button {
        @include button-style($main-color);
    }
}