global
    daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:8080
    default_backend http_back

backend http_back
    balance roundrobin
    option httpchk GET /health
    server s1 backend1:3000 check inter 2000 rise 2 fall 3
    server s2 backend2:3001 check inter 2000 rise 2 fall 3
    server s3 backend3:3002 check inter 2000 rise 2 fall 3 backup
